.accordion_item {
  width: 100%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.accordion_title,
.accordion_title_active {
  width: 100%;
  position: relative;
  padding: 24px 18px;
  margin: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  cursor: pointer;
}

.accordion_title_active,
.accordion_title:hover,
.accordion_title_active:hover,
.content a {
  color: #ffb400;
}

.accordion_btn,
.accordion_btn_active {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease-in-out;
}

.accordion_btn_active {
  transform: rotate(180deg);
}

.accordion_btn_active .arrow path {
  fill: #ffb400;
}

.arrow {
  display: block;
}

.content {
  padding: 0 18px;
  height: 0;
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.content p,
.content ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content code,
.content a {
  display: inline-block;
  color: #f5bb30;
}

.content ul {
  padding-left: 35px;
}

.content p+p,
.content p+ul,
.content ul+p,
.content code+p,
.content code+ul {
  margin-top: 24px;
}

.content p+code,
.content ul+code {
  margin-top: 16px;
}

.content p:last-child,
.content ul:last-child,
.content code:last-child {
  margin-bottom: 24px;
}

@media (max-width: 767px) {

  .accordion_title,
  .accordion_title_active,
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}