.accordion_item {
    width: 100%;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.accordion_title {
    width: 100%;
    position: relative;
    padding: 24px 18px;
    margin: 0;
}

.accordion_title_active {
    color: #FFB400;
}

.accordion_btn {
    width: 16px;
    height: 16px;
}

.accordion_btn_active {
    transform: rotate(180deg);
}

.accordion_btn_active .arrow path {
    fill: #FFB400;
}

.arrow {
    display: block;
}

.content {
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.content_active {
    height: auto;
}

.content p,
.content p {
    margin-top: 0;
    margin-bottom: 0;
}

.content p+p,
.content p+p {
    margin-top: 24px;
}

.content p:last-child {
    margin-bottom: 24px;
}