.page_container {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

/* Hero section style */
.hero_section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background: #D6A3BC;
  padding-top: 147px;
  padding-bottom: 42px;
}

.hero_container {
  max-width: 1206px;
}

.hero_thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero_thumb span {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.hero_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 1666px) {
  .hero_thumb img {
    object-position: top left;
  }
}

.hero_content {
  width: 556px;
  max-width: 100%;
  margin-left: auto;
  position: relative;
  z-index: 5;
}


/* hero slider */
.slide_nav_row {
  width: 100%;
}

.slide_nav .slide_prev {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background: #FFB400;
  margin-right: 5px;
}

.slide_nav+.date {
  margin-left: 16px;
}

.slide_nav_row .date {
  color: rgba(255, 255, 255, 0.4);
}

.content_wrap {
  width: 100%;
  color: #ffffff;
}

.content_title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.bid_info_row {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.info_col {
  max-width: 213px;
}

.info_col:nth-child(2n+1) {
  padding-right: 44px;
}

.info_col:nth-child(2n+2) {
  padding-left: 44px;
}

.info_col:nth-child(2n+2)::before {
  content: "";
  width: 1px;
  height: calc(100% - 10px);
  margin-left: -44px;
  top: 5px;
  bottom: 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.info_label {
  color: rgba(255, 255, 255, 0.4);
  line-height: 21px;
}

.info_content .icon3line {
  width: 18px;
  height: 22px;
}

.info_content .icon3line+.info_text,
.info_content .content_figure+.info_text {
  margin-left: 10px;
}

.content_figure {
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.info_text {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

.help_row {
  margin-top: 20px;
  opacity: 0.4;
}

.help_icon {
  width: 16px;
  height: 16px;
}

.help_icon+span {
  margin-left: 10px;
}

/* Place bid form style */
.form_warp {
  width: 100%;
  margin-top: 24px;
}

.place_bid_row {
  width: 100%;
  position: relative;
}

.place_bid_row [class*="text_field"],
.place_bid_row [class^="text_field"] {
  font-size: 20px;
  line-height: 30px;
  padding-left: 48px;
  padding-right: 152px;
}


.place_bid_row [class*="text_field"]::placeholder,
.place_bid_row [class^="text_field"]::placeholder {
  color: rgba(17, 17, 17, 0.1);
}

.field_icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 23px;
  top: 50%;
  margin-top: -7.5px;
  opacity: 0.1;
}

.field_icon path {
  fill: #111111;
}

.btn_place_bid {
  width: 136px;
  position: absolute;
  right: 8px;
  top: 7px;
  height: 41px;
  background-color: #111111;
  color: #ffffff;
  border-radius: 70px;
}

.bid_items_wrap {
  width: 100%;
  margin-top: 12px;
}

.bid_items_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list_item {
  width: 100%;
  padding: 12px 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list_item .author_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.list_item .author_img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.list_item .author_img+.author_id {
  margin-left: 8px;
}

.author_id {
  font-weight: 600;
}

.biding_amount_text {
  font-weight: 600;
  line-height: 21px;
}

.biding_amount_icon+.biding_amount_text {
  margin-left: 6px;
}

.external_link {
  width: 12px;
  height: 12px;
  opacity: 0.4;
  margin-left: 20px;
}

.external_link svg {
  display: block;
}

.view_all_bids_link {
  width: 148px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
}

/* Winner info style */
.bid_winner_info_wrap {
  width: 100%;
  margin-top: 20px;
}

.winner_info_items_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.winner_info_item+.winner_info_item {
  margin-top: 20px;
}

.info_icon {
  margin-right: 10px;
}

.winner_info_item .info_text {
  font-size: 14px;
  line-height: 21px;
  margin-left: 10px;
}

.winner_info_item .external_link {
  margin-left: 10px;
}

.btn_row {
  width: 100%;
  margin-top: 30px;
  margin-left: -5px;
  margin-right: -5px;
}

.winner_info_btn {
  margin: 20px 5px;
  min-width: 136px;
  height: 41px;
  padding: 10px 22px;
  color: #111111;
  background-color: #ffffff;
  border-radius: 70px;
}

.winner_info_btn .btn_icon {
  margin-right: 6px;
  min-width: 11px;
}

/* //End hero section style
========================== */

/* Blog section style */
.blog_section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 26px;
}

.content_row {
  width: 100%;
}

.blog_section .content {
  width: calc(100% - 56.011%);
}

.blog_section .content h2 {
  margin-top: 12px;
  margin-bottom: 0;
}

.blog_section .content p {
  margin-top: 22px;
  margin-bottom: 0;
}

.blog_section .content a {
  color: #FFB400;
}

.blog_section .content_thumb {
  width: 48.936%;
  margin-left: 7.075%;
}

.blog_section .content_thumb img {
  display: block;
}

/* //End blog section style 
========================= */

/* Accordion section style */
.accordion_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {

  /* Hero section style */
  .hero_section {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    min-height: inherit;
  }

  .hero_container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero_content {
    padding: 30px 20px;
    background-color: #ffffff;
    color: #111111;
    width: 100%;
  }

  .hero_thumb {
    position: relative;
    height: auto;
  }

  .hero_thumb span {
    min-height: 650px;
  }

  .hero_thumb img {
    object-position: -30px 0;
  }

  .slide_nav_row,
  .bid_info_row {
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .info_col+.info_col {
    margin-top: 6px;
  }

  .info_col {
    width: 100%;
    max-width: inherit;
    display: flex;
    align-items: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .info_content {
    justify-content: flex-end;
    margin-left: auto;
  }

  .info_label {
    text-align: left;
    font-size: 16px;
  }

  .info_text {
    font-size: 23px;
    line-height: 1.3;
  }

  .content_title {
    text-align: left;
  }

  .slide_nav_row .date,
  .info_label {
    color: rgba(17, 17, 17, 0.4);
  }

  .content_wrap {
    color: #111111;
  }

  .help_icon path,
  .info_content .icon3line path,
  .info_icon path {
    fill: #111111;
  }

  .winner_info_item,
  .btn_row {
    justify-content: flex-start;
  }

  .btn_row {
    margin-top: 10px;
  }

  .winner_info_btn {
    background-color: #111111;
    color: #ffffff;
  }

  .winner_info_btn .btn_icon path {
    fill: #ffffff;
  }

  .btn_etherscan .btn_icon path:last-child {
    fill: #111111;
  }

  .list_item {
    border-color: rgba(17, 17, 17, 0.1);
    padding-left: 0;
    padding-right: 0;
  }

  .biding_amount {
    justify-content: flex-end;
  }

  .external_link path {
    fill: #111111;
  }
}

@media (max-width: 767px) {

  /* Hero section style */
  .hero_thumb span {
    min-height: 400px;
  }

  .hero_thumb img {
    object-position: -50px 0;
  }

  /* Blog sections tyle */
  .blog_section {
    padding-top: 50px;
  }

  .blog_section .content,
  .blog_section .content_thumb {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .blog_section .content_thumb {
    margin-top: 24px;
  }

  .blog_section .content_thumb span,
  .blog_section .content_thumb img {
    width: 100% !important;
  }

  /* //End blog section style */

  /* Accordion section */
  .accordion_section {
    padding-top: 0px;
  }
}

@media screen and (max-width: 575px) {}