.page_container {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.bid_info_row {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.bid_items_wrap {
  width: 100%;
  margin-top: 12px;
}

.bid_items_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list_item {
  width: 100%;
  padding: 12px 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list_item .author_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.list_item .author_img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.list_item .author_img + .author_id {
  margin-left: 8px;
}

.author_id {
  font-weight: 600;
}

.biding_time {
  color: rgba(17, 17, 17, 0.4);
}

.author_info {
  margin-left: 8px;
}

.author_info span {
  width: 100%;
  display: block;
  line-height: 21px;
}

.biding_amount_text {
  font-weight: 600;
  line-height: 21px;
}

.biding_amount_icon + .biding_amount_text {
  margin-left: 6px;
}

.external_link {
  width: 12px;
  height: 12px;
  opacity: 0.4;
  margin-left: 20px;
}

.external_link svg {
  display: block;
}

.view_all_bids_link {
  width: 148px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
}

/* Winner info style */
.bid_winner_info_wrap {
  width: 100%;
  margin-top: 20px;
}

.winner_info_items_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.winner_info_item + .winner_info_item {
  margin-top: 20px;
}

.info_icon {
  margin-right: 10px;
}

.winner_info_item .info_text {
  font-size: 14px;
  line-height: 21px;
  margin-left: 10px;
}

.winner_info_item .external_link {
  margin-left: 10px;
}

.btn_row {
  width: 100%;
  margin-top: 30px;
  margin-left: -5px;
  margin-right: -5px;
}

.winner_info_btn {
  margin: 20px 5px;
  min-width: 136px;
  height: 41px;
  padding: 10px 22px;
  color: #111111;
  background-color: #ffffff;
  border-radius: 70px;
}

.winner_info_btn .btn_icon {
  margin-right: 6px;
  min-width: 11px;
}

/* //End hero section style
========================== */

/* Accordion section style */
.accordion_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Modal style */
.modal_title_row {
  width: 100%;
}

.modal_figure {
  width: 190px;
  height: 190px;
  border-radius: 16px;
  overflow: hidden;
}

.modal_figure span,
.modal_figure img {
  display: block;
  width: 100% !important;
}

.title_content {
  margin-left: 54px;
}

.title_content h3 {
  color: rgba(17, 17, 17, 0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.title_content h2 {
  margin-top: 4px;
  margin-bottom: 0;
}

.modal_title_row + .bid_items_wrap {
  margin-top: 28px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal_title_row + .bid_items_wrap .list_item {
  border-color: rgba(17, 17, 17, 0.1);
}

.modal_title_row + .bid_items_wrap .list_item:last-child {
  border: 0;
}

.modal_title_row + .bid_items_wrap .biding_amount_icon path,
.modal_title_row + .bid_items_wrap .external_link path {
  fill: #111111;
}

@media (max-width: 991px) {
  .winner_info_item,
  .btn_row {
    justify-content: flex-start;
  }

  .btn_row {
    margin-top: 10px;
  }

  .winner_info_btn {
    background-color: #111111;
    color: #ffffff;
  }

  .winner_info_btn .btn_icon path {
    fill: #ffffff;
  }

  .btn_etherscan .btn_icon path:last-child {
    fill: #111111;
  }

  .list_item {
    border-color: rgba(17, 17, 17, 0.1);
    padding-left: 0;
    padding-right: 0;
  }

  .biding_amount {
    justify-content: flex-end;
  }

  .external_link path {
    fill: #111111;
  }
}

@media (max-width: 767px) {
  /* Accordion section */
  .accordion_section {
    padding-top: 0px;
  }
}

@media screen and (max-width: 575px) {
  /* Modal style */
  .modal_title_row {
    flex-flow: row wrap;
    padding-top: 30px;
  }

  .modal_figure,
  .title_content {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .title_content {
    margin-top: 25px;
  }
}
